@import url("./variables.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

#app {
  font-family: var(--primary-ff);
}

.header,
.nav {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: var(--padding-m);
  background: var(--primary-bg);
  font-size: var(--fs-m);
  align-items: center;
  text-transform: uppercase;
}

.nav {
  width: 40%;
}

.input {
  border: 1px solid var(--primary-bg);
}

.container,
.sidebar,
.filter,
.footer {
  display: flex;
  justify-content: space-between;
}

.container,
.filter {
  margin: var(--margin-xs);
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  font-size: var(--fs-m);
  height: 100vh;
  width: 50%;
  height: 75%;
  font-size: var(--fs-m);
  background: var(--secondary-bg);
}

.product,
.product__image-wrapper,
.description {
  display: flex;
  flex-direction: column;
  padding: var(--padding-s);
}

.product__image-wrapper {
  display: flex;
  align-items: center;
}
.product__image {
  height: 8rem;
  width: 8rem;
}

.description__title,
.description__text {
  text-align: center;
  margin: var(--margin-xs);
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button {
  padding: 0.3rem 3rem;
  border: none;
  background: var(--primary-bg);
  color: var(--primary-color);
  font-size: var(--fs-m);
  border-radius: 0.5rem;
  cursor: pointer;
}

.footer {
  background: var(--third-bg);
}
.footer_about {
  width: 30%;
}

.footer__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-s);
}

.footer__about-title {
  text-align: center;
  color: var(--secondary-color);
}

.footer__description {
  margin-top: 0.8rem;
  color: var(--secondary-color);
}

.footer__map-wrapper,
.footer__spotify,
.footer__label {
  padding: var(--padding-s);
}

.footer__label {
  color: var(--secondary-color);
}
