@import url("./variables.css");
@import url("./classes.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  width: 1540.8px;
  height: 1095.68px;
  display: flex;
}
.aside-content {
  height: 100%;
}
.aside-socials {
  color: var(--secondary-bg);
  font-family: var(--primary-ff);
}

.aside-link {
  transform: rotate(-90deg);
  margin-top: 120px;
}

.aside-title {
  font-family: var(--secondary-ff);
  font-weight: 900;
  margin-top: calc(var(--margin-xl) - 2px);
  margin-left: var(--margin-xs);
  margin-right: var(--margin-xs);
  width: 291px;
  line-height: 38px;
}

.title-black {
  color: var(--secondary-color);
}

.title-orange {
  color: var(--third-color);
}

.main-link__wrapper {
  color: var(--secondary-bg);
  width: 711.55px;
  font-family: var(--primary-ff);
  margin-top: var(--margin-xl);
  margin-left: calc(var(--margin-xl) + 3px);
  margin-right: calc(var(--margin-m) + 8px);
  margin-bottom: var(--margin-m);
}

.search-wrapper {
  margin-right: 80px;
  position: relative;
  top: 10px;
}
.search-icon {
  width: 61px;
  height: 61px;
}
.main-image__wrapper {
  position: absolute;
  left: 216px;
  z-index: 0;
}

.main-image {
  width: 1306px;
  height: 674px;
}

.main-title__wrapper {
  font-family: var(--secondary-ff);
  font-weight: 900;
  z-index: 1;
  display: flex;
  position: absolute;
  top: 150px;
  left: 327px;
}
.main-title__white {
  color: rgba(255, 255, 255, 0.7);
}
.main-title__orange,
.title__orange {
  color: rgba(196, 96, 2, 1);
}
.title__orange {
  font-family: var(--secondary-ff);
  z-index: 1;
  display: flex;
  position: absolute;
  top: 275px;
  left: 690px;
  font-weight: 900;
}

.circle-bg {
  background: #c4c4c4;
  height: 89.88px;
  width: 89.88px;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  left: 225px;
}
.arrow-icon {
  width: 48px;
  height: 48px;
  margin: 21px;
}

.footer {
  position: relative;
  top: 675px;
  display: flex;
}

.footer {
  height: 211px;
  z-index: -1;
}
.footer-title__wrapper {
  padding: 85px;
  margin-left: 25px;
  font-family: var(--secondary-ff);
  font-weight: 900;
}
.footer-title__white {
  color: rgba(255, 255, 255, 0.7);
}
.footer-title__orange,
.footer__orange {
  color: rgba(196, 96, 2, 1);
}

.vl {
  border-left: 1.07px solid #c46002;
  height: 154px;
  margin-left: 50px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.footer-text__wrapper {
  font-family: var(--secondary-ff);
  width: 523px;
  margin-top: 40px;
  margin-left: 14px;
  margin-right: 33.14px;
  margin-bottom: 20.49px;
}
.footer-text {
  color: var(--primary-color);
  font-weight: 400;
}

.play-button__wrapper {
  width: 155.15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.left-arrow,
.right-arrow {
  width: 32.1px;
  height: 29px;
  margin-top: 10px;
  margin-bottom: 10px;
}
